<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="">
    <header class="navbar navbar-default">
      <h4 class="navbar-text">Welcome to Mystery Word</h4>
      {{#numGuesses}}<h5 class="navbar-text navbar-right">Guesses remaining: {{.}}</h5>{{/numGuesses}}
      {{^numGuesses}}<h5 class="navbar-text navbar-right">No guesses left!</h5>{{/numGuesses}}
    </header>

    <div class="container">
      <h1>Welcome, {{playerName}}!</h1>
      <section class="container letters">
        {{#arrayBlanks}}<h1>{{.}} </h1>{{/arrayBlanks}}
      </section>

      {{#repeats}}
        <section class="container repeats">
          <h5 class="alert alert-info"><b>Oops! </b>You've already tried this letter: {{.}}. Keep going!</h5>
        </section>
      {{/repeats}}

      {{#winRound}}
        <section class="container repeats">
          <h5 class="alert alert-success"><b>Hooray! </b>You guessed the word. Play again?</h5>
          <form class="form-group form-inline win-form" action="/reset" method="get">
            <input type="hidden" name="play" value="play">
            <input type="submit" name="playAgain" value="Yes!" class="btn btn-success">
          </form>
        </section>
      {{/winRound}}

      {{#gameOver}}
        <section class="container replay-form">
          <h5 class="alert alert-warning"><b>Oh no! </b>You're out of guesses. Play again?</h5>
          <form class="form-group form-inline" action="/play" method="post">
            <input type="submit" name="replay-submit" value="Yes!" class="btn btn-info">
          </form>
        </section>
      {{/gameOver}}

      {{^gameOver}}
        <section class="container guess-form">
          <form class="form-group form-inline" action="/play" method="post">
            <input type="text" name="guess" value="" placeholder="Your guess here" class="form-control">
            <input type="submit" name="submit" value="Guess!" class="btn btn-info">
          </form>
        </section>
      {{/gameOver}}

      <section class="already-guessed">
        <h4>You've guessed:</h4>
        {{#triedLetters}}
        <span>{{.}},</span>
        {{/triedLetters}}
      </section>


      </div>
    </div>
  </body>
</html>
